#### - capitalize()
    Coloca a 1ª letra Maiúscula

In [2]:
texto = 'walex lima barbosa'
texto_1M = texto.capitalize()
print(texto_1M)

##List
bd_nomes = ['walex barbosa', 'rafael barbosa']

for bd in bd_nomes:
    print(bd.capitalize())

Walex lima barbosa
Walex barbosa
Rafael barbosa

#### - title()   
    Coloca a 1ª letra de cada palavra em maiúscula

In [3]:
texto = 'walex lima barbosa'
texto_1M = texto.title()
print(texto_1M)

##List
bd_nomes = ['walex barbosa', 'rafael barbosa']

for bd in bd_nomes:
    print(bd.title())

Walex Lima Barbosa
Walex Barbosa
Rafael Barbosa

#### - upper()	
    Coloca o texto todo em letra maiúscula

In [4]:
texto = 'walex lima barbosa'
texto_1M = texto.upper()
print(texto_1M)

#List
bd_nomes = ['walex barbosa', 'rafael barbosa']

for bd in bd_nomes:
    print(bd.upper())

WALEX LIMA BARBOSA
WALEX BARBOSA
RAFAEL BARBOSA

#### - casefold()
    Transforma todas as letras em minúsculas (existe lower() mas o casefold é melhor normalmente)

In [10]:
texto = 'WALEX LIMA BARBOSA'
texto_M = texto.casefold()
print(texto_M)
print('---------')

#List
bd_nomes = ['WALEX LIMA BARBOSA', 'RAFAEL BARBOSA']

for bd in bd_nomes:
    print(bd.casefold())
print('---------')

    #List
bd_nomes = ['WALEX LIMA BARBOSA', 'RAFAEL BARBOSA']

for bd in bd_nomes:
    print(bd.lower())

walex lima barbosa
---------
walex lima barbosa
rafael barbosa
---------
walex lima barbosa
rafael barbosa

#### - count()	
    Quantidade de vezes que um valor aparece na string

In [19]:
email = 'walex@gmail.com.br'
email_new = email.count('.')
print(email_new)

#List
bd_nomes = ['walex barbosa', 'rafael barbosa', 'rafael barbosa', 'rafael barbosa']

cont = 0

for bd in bd_nomes:
    bd.count('barbosa')
    cont += 1
print(cont)

2
4

#### find()     
    Procura um texto dentro de outro texto e dá como resposta a 1° posição do texto encontrado

In [50]:
email = 'walex@gmail.com.br'
email_new = email.find('@gmail.com.br')
print(email_new)

#List
bd_nomes = ['rafael barbosa', 'Rúbia Tiolio', 'walex barbosa', 'walex barbosa']

for nome in bd_nomes:
    index = nome.find('barbosa')
    if index != -1:
        print(f"'barbosa' encontrado em '{nome}' no índice {index}")
    else:
        print(f"'barbosa' não encontrado em '{nome}'")

5
'barbosa' encontrado em 'rafael barbosa' no índice 7
'barbosa' não encontrado em 'Rúbia Tiolio'
'barbosa' encontrado em 'walex barbosa' no índice 6
'barbosa' encontrado em 'walex barbosa' no índice 6

#### - endswith() 
    Verifica se o texto termina com um valor específico e dá como resposta True ou False

In [54]:
email = 'walex@gmail.com.br'
email_new = email.endswith('@gmail.com.br')
print(email_new)

email_array = ['walex@gmail.com.br', 'diocel@hotmail.com', 'ester@gmail.com.br', 'binha@yahoo.com']
email_gmail = []

for em in email_array:
    email_new2 = em.endswith('gmail.com.br')
    if email_new2 == True:
        email_gmail.append(em)
print(email_gmail)

True
['walex@gmail.com.br', 'ester@gmail.com.br']

#### - isalnum() 
    Verifica se um texto é todo feito com caracteres alfanuméricos (letras e números) -> letras com acento ou ç são considerados letras para essa função.

In [69]:
texto = 'walexãéç 22'
texto_new = texto.isalnum()
print(texto_new)

senha = 'passinho 123 '

if senha.isalnum() == True:
    print(senha)
else:
    print('Senha não pode haver espaços!')

False
Senha não pode haver espaços!

#### - isalpha() 
    Verifica se um texto é todo feito de letras.

In [89]:
texto = 'walexlimabarbos2a'
texto_new = texto.isalpha()
print(texto_new)

senha1 = "walex "

if senha1.isalpha() == True:
    print(senha1)
else:
    print('Senha não pode haver espaços e nem letras!')

# senha2 = "225225a"

# if senha2.isalnum() == True:
#     print(senha2)
# else:
#     print('Senha não pode haver espaços e nem letras!')

False
Senha não pode haver espaços e nem letras!

#### - isnumeric()	
    Verifica se um texto é todo feito por números.

In [48]:
texto = '121212'
texto_new = texto.isnumeric()
print(texto_new)

True

#### - startswith() 
    Verifica se a string começa com determinado texto

In [101]:
texto = 'ABCD1252'
texto_new = texto.startswith('ABCD12')
print(texto_new)

email = ['walex@gmail.com.br', 'diocel@hotmail.com', 'ester@gmail.com.br', 'binha@yahoo.com']

for em in email:
    if em.startswith('walex'):
        print(em)
    else:
        print('False')

True
walex@gmail.com.br
False
False
False

#### - replace() 
    Substitui um texto por um outro texto em uma string.

In [57]:
num = '1000.00'
num_new = num.replace('.', ',')
print(num_new)

1000,00

####    - split()	
    Separa uma string de acordo com um delimitador em vários textos diferentes.

In [60]:
texto = 'walex;barbosa;lima;2024'
texto_new = texto.split(';')
print(texto_new)

['walex', 'barbosa', 'lima', '2024']

#### - strip()	
    Retira caracteres indesejados dos textos. Por padrão, retira espaços "extras" no início e no final

In [61]:
texto = '  walex barbosa  '
texto_new = texto.strip()
print(texto_new)

walex barbosa

#### - re - biblioteca
    Exclui todos os espaços dentro e fora

In [73]:
import re

texto = "walex  lima     barbosa "
texto_sem_espacos_extras = re.sub(r"\s+", " ", texto)
print(texto_sem_espacos_extras)

walex lima barbosa

#### join()
    "####".join() => Ele juntar strings

In [13]:
nome = ['walex']
sobrenome = ['barbosa']

# Concatenando as listas e depois juntando em uma única string
nome_e_idade = nome + idade  # Combina as duas listas
nome_modificado = ' '.join(nome_e_idade)  # Junta os elementos da lista resultante em uma única string

print(nome_modificado)

walex rafael

#### - Formatação números

In [70]:
## - Formato com casas Decimais fixas
custo = 500
faturamento = 270
lucro = faturamento - custo
print('Faturamento foi {:.2f} e lucro foi {:2f}'.format(faturamento, lucro))

## - Formato com casas porcentagem
custo = 500
faturamento = 1300
lucro = faturamento - custo
margem = lucro / faturamento
print('Margem de lucro foi de {:.2%}'.format(margem))

## - Formato Moeda -> Combinação de Formatos
custo = 5000
faturamento = 27000
lucro = faturamento - custo
print('Faturamento foi R${:,.2f} e lucro foi R${:,.2f}'.format(faturamento, lucro))

#transformando no formato brasileiro
lucro_texto = f'R${lucro:_.2f}'
print(lucro_texto.replace('.', ',').replace('_', '.'))

## - Função round() para arredondar números, caso seja necessário
imposto = 0.15758
preco = 100
valor_imposto = round(preco * imposto, 2)
print('Imposto sobre o preço é de {}'.format(valor_imposto))

Faturamento foi 270.00 e lucro foi -230.000000
Margem de lucro foi de 61.54%
Faturamento foi R$27,000.00 e lucro foi R$22,000.00
R$22.000,00
Imposto sobre o preço é de 15.76