#### PROCURAR VALORES DISTINTOS

In [3]:
nomes = ['walex', 'rafael', 'diocel', 'walex']
nomes_distintos = set(nomes)

print(nomes_distintos)

{'rafael', 'diocel', 'walex'}

#### sort() ou sort(reverse = True)
    Organizar um array de cima para baixo

In [4]:
valores = [50, 16, 48, 13, 5, 51, 46, 90, 38]

# valores.sort()
valores.sort( reverse=True)

print(f'Ordem basica: {valores}')

Ordem basica: [90, 51, 50, 48, 46, 38, 16, 13, 5]

#### Zip

In [1]:
vendas = [50, 16, 48, 13, 5, 51, 46, 90, 38]
vendas1 = [50, 16, 48, 13, 5, 51, 46, 0, 38]

for ve in zip(vendas, vendas1):
    print(ve, end=", ")

(50, 50), (16, 16), (48, 48), (13, 13), (5, 5), (51, 51), (46, 46), (90, 0), (38, 38),

#### Collections
    Top 03 produtos

In [2]:
from collections import Counter
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}

aux = Counter(vendas_tecnologia)
print(aux.most_common(3))

[('notebook dell', 17000), ('iphone', 15000), ('ps5', 14300)]

#### Métodos para criar números aleatórios e números sequenciais em listas

In [ ]:
import numpy as np

#Gerar números aleatórios
vendas = np.random.randint(1000, 3000, 50)
meses = np.arange(1, 51)